/* COMMON
   ======================= */

body {
   background-color: #1e2e3c;
   font-family: 'Roboto', sans-serif;
}

.bg-main {
   background-color: #2e3b46;
}

/* ======================= */

/* HEADER
   ======================= */

/*    * logo
      -------------------- */
header {
   padding: 10px 20px;
}
.logo img {
   width: 80px;
}

/*    -------------------- */

/* ======================= */

/* MAIN
   ======================= */

/*    * selector
      -------------------- */
.selector {
   padding-top:20px;
   padding-bottom: 20px;
}
/*    -------------------- */

/*    * disc
      -------------------- */

.disc {
   /* test */
   width: calc(100%/8);
   padding: 10px;
   margin-right: 1rem;
   color: #7e7e7e;
   margin-bottom: 0.8rem;
}

.disc .cover {
   /* test */
   width: 100%;
}

.disc .title {
   text-transform: uppercase;
   font-size: 1.2rem;
   color: white;
   padding-bottom: 1rem;
   font-weight: 500;
}

/*    -------------------- */

/* ======================= */

/* TEMPLATE
   ======================= */

/*    * stuff
      -------------------- */

/*    -------------------- */

/* ======================= */