/* COMMON
   ======================= */

body {
   background-color: #1e2e3c;
   font-family: 'Roboto', sans-serif;
   max-width: 1170px;
   margin: auto;
}

.bg-main {
   background-color: #2e3b46;
}

[v-cloak] {
   display: none;
}

/* ======================= */

/* HEADER
   ======================= */

/*    * logo
      -------------------- */

header {
   padding: 10px 20px;
}

.logo img {
   width: 80px;
}

/*    -------------------- */

/* ======================= */

/* MAIN
   ======================= */

/*    * selector
      -------------------- */

.selector {
   padding-top: 20px;
   padding-bottom: 20px;
}

/*    -------------------- */

/*    * disc
      -------------------- */

.disc {
   width: calc(100%/8);
   padding: 10px;
   margin-right: 1rem;
   color: #7e7e7e;
   margin-bottom: 0.8rem;
}

.disc .cover {
   width: 100%;
   padding-bottom: 1rem;
}

.disc .title {
   text-transform: uppercase;
   font-size: 1.2rem;
   color: white;
   padding-bottom: 1rem;
   font-weight: 500;
}

/*    -------------------- */

/* ======================= */

/* QUERIES */

/* width < 800px
   ======================= */

@media screen and (max-width: 799px) {
   /*    * disc
      -------------------- */
   .disc {
      width: calc(100%/5)
   }
   .disc .title {
      font-size: 90%
   }
   /*    -------------------- */
}

/* ======================= */