/* COMMON
   ======================= */
.test {
   color: red;
}
/* ======================= */

/* HEADER
   ======================= */

/*    * logo
      -------------------- */
.logo img {
   width: 100px;
}
/*    -------------------- */

/* ======================= */


/* MAIN
   ======================= */

/*    * disc
      -------------------- */
.disc {
   /* test */
   width: 15%;
}
.disc .cover {
   /* test */
   width: 100%;
}
.disc .title {
   text-transform: uppercase;
   font-size: 1.5rem;
}
/*    -------------------- */

/* ======================= */


/* FOOTER
   ======================= */

/*    * stuff
      -------------------- */

/*    -------------------- */

/* ======================= */






/* TEMPLATE
   ======================= */

/*    * stuff
      -------------------- */

/*    -------------------- */

/* ======================= */