<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"> -->
    <link rel="stylesheet" href="css/my_frame.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Spotter</title>
</head>

<body>
    <!-- VUE CONTAINER -->
    <div id="root">
        <!-- HEADER -->
        <header class="bg-main">
            <div class="logo"><img src="img/download.png" alt=""></div>

        </header>
        <!-- END HEADER -->

        <!-- MAIN -->
        <main>
            <!-- section.selector -->
            <section class="selector text-center">
                <select name="genre-selector" id="genre-selector" v-model="genre" aria-label="Seleziona un genere"
                    class="text-center">
                    <option value="" disabled selected hidden aria-hidden="true">Seleziona un genere</option>
                    <option v-for="item in genres" :value="item">{{ item }}</option>
                    <option value="">All</option>
                </select>
            </section>
            <!-- END section.selector -->

            <!-- ul.discs-list -->
            <ul v-if="discs.length > 0" v-cloak class="discs-list flexer center wrap">
                <!-- li.disc -->
                <li v-for="item in discs" v-if="genre ? item.genre == genre : true"
                    class="disc bg-main flexer col center-cross">
                    <div class="cover">
                        <img :src="item.poster" :alt="item.title + '\'s cover'">
                    </div>
                    <!-- ul.info-list -->
                    <ul class="info-list text-center">
                        <li class="title">{{ item.title }}</li>
                        <li class="author">{{ item.author }}</li>
                        <li class="year">{{ item.year }}</li>
                    </ul>
                    <!-- END ul.info-list -->
                </li>
                <!-- END li.disc -->
            </ul>
            <!-- END ul.discs-list -->
        </main>
        <!-- END MAIN -->
    </div>
    <!-- END VUE CONTAINER -->

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/script.js"></script>
</body>

</html>